<div class="container-fluid">
      <form>
        <div class="form-group">
          <label for="author">Author</label>
          <input type="text" class="form-control" id="author">
        </div>
        <br>
        <div class="form-group">
           <label for="quote">Quote</label>
           <input type="text" class="form-control" id="quote">
         </div>
         <br>
         <button class="btn btn-success" type="submit">Submit</button>
       </form>
       <ul>

       </ul>
       </div>