.container-fluid {
    background-color: lemonchiffon;
    background-size: cover;
    font-family: Impact;
    font-size: 16px;
    font-style: oblique;
}

#navbarNav { 
    font-size: 36px;
    font: white;
    background-color: ghostwhite;
    font-weight: 800;
    text-decoration: underline;
}