.container-fluid {
    background-color: azure;
    background-size: cover;
    font-family: Impact;
    font-size: 16px;
    font-style: oblique;
}

#heading {
    font-family: 'Trebuchet MS';
    font-style: italic;
    text-decoration: underline;


    
}