

<div class="container-fluid" ng-style="myStyle">

    <h1 id="heading" ng-style="myStyle">
        MAYA ANGELOU'S FAVORITE QUOTES
     </h1>
  
   <div class="row">

     <div class="col-md-6">
       <app-form (addQuote)="addNewQuote($event)"></app-form>
       </div>

       <div class="col-md-6">
        
         <br>
       <ul>
         <div *ngFor='let quote of quotes; let i = index'>
          <li>
             Author: {{quote.author}} <br> 
             Quote: {{ quote.quote}}
           </li>
         
           <button class="btn btn-primary"(click)='toogleDetails(i)'>Show Details </button>
           <br>
          <app-quote-details *ngIf="quote.showDescription" [quote]='quote' (isComplete)='completeQuote($event,i)'></app-quote-details>
          </div> 
       </ul>
       </div>
       
      </div>
      </div>

      
